
.gridLayout p::first-line {
    text-decoration: overline;
}

.gridLayout p {
    color: red;
}

.footer-content {
    margin: 0;
    font-weight: var(--dark-bold-font);
}

.credit {
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
}